{% extends "flask_user_layout.html" %}
{% block content %}
    <h2>Home page</h2>

    <p><a href={{ url_for('home_page') }}>Home page</a> (accessible to anyone)</p>
    <p><a href={{ url_for('movies_page') }}>Movies</a> (login required)</p>
    <p><a href={{ url_for('rated_movies_page') }}>Rated movies</a> (login required)</p>
    <p><a href={{ url_for('user.logout') }}>Sign out</a></p>

    <link rel="stylesheet" href="{{ url_for('static',filename='styles/home.css') }}">
{% endblock %}
