{% extends "flask_user_layout.html" %}
{% block content %}
<div class="container">
    <h2>Movies</h2>

    {% for m in movies %}
        <div class="panel panel-default">
            <div class="panel-heading"><b>{{ m.title }}</b></div>
            <div class="panel-body">
                <p> Rating: {{movies[m][1]}}/5 from {{movies[m][0]}} users</p>
                <p> Genres:
                    {% for g in m.genres %}
                        <span class="label label-default">{{ g.genre.name }}</span>
                    {% endfor %}
                </p>
                <p> Tags:
                    {% for t in m.tags %}
                        <span class="label label-default">{{ t.tag }}</span>
                    {% endfor %}
                </p>
                <p> Links:
                    {% if m.link[0].imdb_id %}
                    <span class="label label-default"><a href="https://www.imdb.com/title/tt{{ m.link[0].imdb_id }}" target="_blank">IMDB</a></span>
                    {% endif %}
                    {% if m.link[0].tmdb_id %}
                    <span class="label label-default"><a href="https://www.themoviedb.org/movie/{{ m.link[0].tmdb_id }}" target="_blank">TMDB</a></span>
                    {% endif %}
                </p>
            </div>
              <div class="panel-footer">Rate:
                  <a href="javascript:;" class="rating-link m{{m.id}} r1">1</a>
                  <a href="javascript:;" class="rating-link m{{m.id}} r2">2</a>
                  <a href="javascript:;" class="rating-link m{{m.id}} r3">3</a>
                  <a href="javascript:;" class="rating-link m{{m.id}} r4">4</a>
                  <a href="javascript:;" class="rating-link m{{m.id}} r5">5</a> Stars
              </div>
        </div>
    {% endfor %}
</div>
<script src="{{ url_for('static',filename='scripts/movies.js') }}"></script>
{% endblock %}
