/* Body styles */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f8f8;
    color: #333;
    margin: 0;
    padding: 0;
}


h2 {
    color: #428bca;
}


/* Custom styles for movie grid with Flexbox */
.movie-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 20px;
}

.panel {
    width: calc(16.66% - 20px);
    margin-bottom: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    position: relative;
}

.panel-more {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Select every sixth panel and clear its left margin to start a new row */
.panel:nth-child(6n + 1) {
    margin-left: 0;
}


.panel-heading {
    background-color: #428bca;
    color: #fff;
    padding: 10px;
}

.panel-body {
    padding: 15px;
}